     .main {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
     }

     .canvas {
          border: 2px solid black;
     }

     .top,
     .bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 20px 0 20px 0;
     }

     .block,
     input,
     select,
     button {
          width: 80%;
     }

     .column {
          display: flex;
          flex-direction: column;
     }

     .bottom>button {
          margin: 10px;
     }

     .top>.block {
          margin: 10px;
     }

     .block>p {
          margin: 10px auto;
          width: 50%;
     }
     #digi-sign {
          position: absolute;
          top: 0;
          width: 100%;
          text-align: center;
     }
     
     #digi-sign h2 {
          margin: 0;
          padding: 20px;
          font-size: 24px;
          font-weight: bold;
          color: #333; /* Change color as needed */
          background-color: #f0f0f0; /* Change background color as needed */
     }